.main-content{
    margin: 50px 200px;
}

.navbar-brand {
    margin-top: -1px;
    padding-top: 0;
}

.navbar-collapse {
    justify-content: flex-end !important;
}

a:hover {
    text-decoration: none;
    font-weight: 300;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'main main';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
} 
  
.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }

.swirl{
    position: absolute;
    z-index: -999;
    top: 490px;
    width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* STYLING */
h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 150px;
    letter-spacing: 0.025em;
}

h2{
    font-family: Inter;
    font-style: normal;
    font-weight: semi-bold;
    font-size: 25px;
    line-height: 30px;
}

h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
}

h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 66px;
}


h4:before, h4:after {
    background-color: #fff;
    content: " ";
}

h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 150px;
    letter-spacing: 0.025em;
}

p{
    font-family: "Avenir Next", "Avenir", "Avenir Next W01", system-ui, sans-serif;
    font-style: normal;
    font-weight: 300px;
    font-size: 18px;
    line-height: 1.8;
    margin:0;
}

p a:hover{
    text-decoration: underline;
}

/* PAGE LAYOUT */

.mysite{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;
}

.content-left{
    margin-top: 70px;
    width: 50%;
    padding:0 0 0 200px;
}

.content-right{
    width: 50%;
    padding: 20px 200px 0px 100px;
}


.h1-placement{
    margin-top: 70px;
}

.text-link:hover{
    color:rgb(119, 119, 119);
    text-transform: underline;
    cursor: pointer;
}

/* NAVIGATION BAR */

.nav{
    width:100%;
    padding: 0px 100px 40px;
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    flex-direction: row;
    background-color: rgb(239 238 238);
    box-shadow: 0px 0px 1px rgba(15, 23, 42, 0.06), 0px 20px 25px -5px rgba(15, 23, 42, 0.1), 0px 10px 10px -5px rgba(15, 23, 42, 0.04);
    transition: 0.4s;
}


a {
    text-decoration: none;
    color: #000;
}

.main-nav{
    display: flex;
    flex-direction: row; 
    justify-content: end;
    align-items: center;
}

#logo{
    margin: 0px;
    height: 100px;
    text-align: center;
    float: left;
}

.header {
        flex-direction: row;
        justify-content: left;
        width: 80%;
        margin: 0 auto;
    }

.nav-li {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px 5px 16px;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.nav-li:hover {
    text-decoration: none;
    border-bottom: 2px solid wheat;
}

.nav-li.selected {
    border-bottom: 2px solid wheat;
}


.nav-items{
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
}

.nav-link:hover{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid wheat;
    font-weight:500;
}
.ul-bullet{
    width: 100%;
    margin-left: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 80px;
}

   
.intro{
    margin-bottom: 35px;
    padding: 30px 30px;
}


/* BUTTONS */

.btn-cta{
    border: 2px solid transparent;
    background-color: #6C57B2;
    font-size: 18px;
    margin-top: 20px;

    /* Auto Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border-radius: 5px;

    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;

    align-items: center;
    text-align: center;

    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-cta:hover {
    border: 2px solid transparent;
    background: #8C7BC2;
    cursor: pointer;
    color: #fff;
}

.hp-projects{
    padding: 100px 0 40px 0;
    margin: auto;
}

.card-margin{
    margin: auto;
}

.logo-footer{
    height: max-content;
}

.m-a{
    margin: auto;
} 

.margin-top{
    margin-top:70px;
}

/* Create four equal columns that floats next to each other */
.row-third {
width: 33%;
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: baseline;
}

/* Content */
.content {
background-color: white;
padding: 50px;
display:flex;
flex-direction: column;
align-items: center;
}

.casestudy{
    margin: auto;
    align-items:center;
}

/* TOOLS */

.container{
    justify-content: space-around;
    align-items: baseline;

}

.column-tools-top{
    width: 33%;
    padding: 50px 0px;
    text-align: center;
}

.column-tools-bottom{
    width: 50%;
    padding: 0px 0px 50px 0px;
    text-align: center;
}

.svg{
    width: 80px;
    height: 80px;
    background-color: #B9C8BC;
    border-radius: 50%;
    margin: auto;
}

.svg-wrapper{
    width: 200px;
    height: 200px;
    background-color: #B9C8BC;
    border-radius: 50%;
    margin: auto;
    display: flex;
}

/* Table for heuristics*/

table,th,td{
      border:2px solid #005792;
    }
    table
    {
      border-collapse:collapse;
      width:20%;
    }
    
    td
    {
      height:40px;
      padding: 25px 20px;

    }
    tr
    {
      background-color: #fff;
      color:#000;
    
    }
    th
    {
      background-color:#115CA7;
      color: #fff;
      font-weight: 300;
      font-size: 32px;
      padding: 5px 0 5px 25px;
}
.dot{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
  }

  .dot-filled{
    height: 25px;
    width: 25px;
    background-color: #638CCC;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}

.body-projects {
    min-height: 100vh;
    background-color: #fafafa;
}

.container-projects {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem 2rem;
}

.heading-projects {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    padding: 3.5rem 0;
    color: #1a1a1a;
}

.heading span {
    display: block;
}

.gallery {
    display: flex;
    flex-direction: row;
    margin: 0 200px;
}

.gallery-item-wrapper {
    flex: 1 0 24rem;
    margin-bottom: 30px;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    border-radius: 4px;
    background-size:contain;
    height: 400px;
}

.background-sc{
    background-color: #E2EDF5;
}

.gallery-item-sc{
    background-color: #F7DCE0;
    border-width: 2px;
    margin-right: 1rem;
}

.gallery-item-1{
    background-color: #DDD0E6;
    margin-right: 1rem;
}

.gallery-item-2{
    background-color: #C8D7B9;
}

.gallery-item-3{
    background-color: #CACFFC;
    margin-right: 1rem;
}

.gallery-item-4{
    background-color: #FFEDC2;
}

.gallery-image {
    display: block;
    padding: 70px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.column-center{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.work-img {
    background-size: contain;
    max-width: 450px;
}

.w-100 {
    width: 100%;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group input, .form-group textarea {
    background-color: #b9c8bc52;
    color: #000;
}

.pt-5{
    padding: 0px 100px;
}


.arrow {
    width: 120px;
  }
  
  .line {
    margin-top: 14px;
    width: 272px;
    background: rgb(0, 0, 0);
    height: 2px;
    float: left;
  }
  
  .point {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid rgb(0, 0, 0);
    float: right;
  }

  .point.no-margin{
    margin-top: 0px;
  }

.cs-subtitle{
      display: flex;
      flex-direction: column;
      align-content: center;
}

 

.col-left{
    margin-left: 200px;
    margin-right: 30px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.col-right{
    margin-left: 30px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.img{
    margin-left: 30px;
    width: 600px;
    margin-top: 50px;
}

.img-comp{
    width: 50px;
}

.h2-bottom{
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
    margin-left: 20px
}

.rect{
    width: 324px;
    height: 296px;
    background: #0000;
    box-shadow: 0px 4px 30px #E5E0E9;
    border-radius: 48px;
}

.col-4{
    inline-size: inherit;
}

.svg-prob{
    width:100%
}

.row-height{
    height: 50px;
}


  ol {
    counter-reset: orderedlist;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
  }
  
  ol li::before {
    counter-increment: orderedlist;
    content: counter(orderedlist);
    font-size: 1.25em;
    line-height: 1.75;
    width: 1.5rem;
    padding: 2px 10px;
    padding-top: 0.25rem;
    text-align: center;
    color: #fff;
    margin: 0 10px;
    background-color: #592C5F;
    border-radius: 0.25em;
  }

  .star-bullet{
      line-height: 20px;
      list-style: none;
  }
  
  .thought {
    display:flex;
    background-color:#FFEDC2;
    padding:20px;
    border-radius:30px;
    min-width:40px;
    max-width:250px;
    min-height:40px;
    margin:40px;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  
  .thought:before,
  .thought:after {
    content:"";
    background-color:#FFEDC2;
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
  }
  .thought:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px #FFEDC2;
  }
  .thought:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 #FFEDC2,
               -28px -6px 0 -2px #FFEDC2,
               -24px 17px 0 -6px #FFEDC2,
               -5px 25px 0 -10px #FFEDC2;
    
  }

  .stake-col{
    background-color: #F0EEF3;
    border-radius: 10px;
    padding: 20px;
    margin: -20px;
    color: #592C5F;
  }

  .stake-col-sc{
    background-color: #ffe1e6;
    border-radius: 10px;
    padding: 30px;
    margin: -20px;
    color: #000;
  }

  .stake-col-spellit{
    background-color: #ffeed0;
    border-radius: 18px;
    padding: 15px 40px 15px 30px;
    margin: 20px;
    color: #000;
    line-height: 30px;
  }

  .stake-col-spellit-quote {
    background-color: #D7D9FF;
    border-radius: 50%;
    height: 250px;
    padding: 0 30px;
    width: 250px;
    text-align: center;
    margin: 20px 50px 35px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.stake-col-edgov{
    background-color: #D0E2FC;
    border-radius: 8px;
    padding: 30px;
    margin: 20px;
    color: #000;
}

.stake-col-edgov-bluebox{
    background-color: #D0E2FC;
    border-radius: 8px;
    padding: 30px;
    /* margin: 20px; */
    color: #000;  
}

.stake-col-edgov:hover a{
    transform: scale(1.009);
    box-shadow: 0px 0px 1px rgba(15, 23, 42, 0.06), 0px 20px 25px -5px rgba(15, 23, 42, 0.1), 0px 10px 10px -5px rgba(15, 23, 42, 0.04);
}

.stake-col-work-purp{
    background-color: #DDD0E6;
    border-radius: 8px;
    padding: 40px;
    color: #020202;
}

.stake-col-work-purp:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 1px rgba(15, 23, 42, 0.06), 0px 20px 25px -5px rgba(15, 23, 42, 0.1), 0px 10px 10px -5px rgba(15, 23, 42, 0.04);
}

.stake-col-work-pink{
    background-color: #F5D6DF;
    border-radius: 8px;
    padding: 40px;
    color: #020202;
}

.stake-col-work-pink:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 1px rgba(15, 23, 42, 0.06), 0px 20px 25px -5px rgba(15, 23, 42, 0.1), 0px 10px 10px -5px rgba(15, 23, 42, 0.04);
}

.stake-col-work-yellow{
    background-color: #FFEDC2;
    border-radius: 8px;
    padding: 40px;
    color: #020202;
}

.stake-col-work-yellow:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 1px rgba(15, 23, 42, 0.06), 0px 20px 25px -5px rgba(15, 23, 42, 0.1), 0px 10px 10px -5px rgba(15, 23, 42, 0.04);
}

.stake-col-work-blue{
    background-color: #CACFFC;
    border-radius: 8px;
    padding: 40px;
    color: #020202;
}

.stake-col-work-blue:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 1px rgba(15, 23, 42, 0.06), 0px 20px 25px -5px rgba(15, 23, 42, 0.1), 0px 10px 10px -5px rgba(15, 23, 42, 0.04);
}

  .img2{
    margin-right: 30px;
    width: 700px;
  }


  .h2-center{
      text-align: center;
  }

   .purple-background{
    background-color: #f0eef3;
  }

    .column-right{
        margin-left: 30px;
        margin-right: 100px;
        margin-top: 100px;
        margin-bottom: 70px;
    }

    .column-left{
        margin-left: 100px;
        margin-right: 30px;
        margin-top: 100px;
        margin-bottom: 70px; 
    }

    /*IMAGES*/

    .boxed-img{
        background-image: url("./images/spellit_process.png");
        background-size: contain;
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
    }

    .about-me-img{
        background-image: url("./images/camping-pic.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        margin-left: 60px;
        margin-top: 20px;
    }

    .sitemap-img{
        display: block;
        margin: 30px 0px;
        width: 800px;
    }

    .smartcourse-image{
        background-image: url("./images/sc-laptop.png");
        background-size: contain;
        display: flex;
        align-items: center;
        margin: auto;
        width: 50%;
        border-radius: 5%;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 3vh;
    }

    .narika-image{
        background-image: url("./images/narikalapmobile.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top;
    }

    .narika-csimage{
        background-image: url("./images/narikalapmobile.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
    }

    .bg-narika-laptop {
        background-image: url("./images/narika-laptop.png");
        background-size: contain;
        width: 100%;
        min-height: 350px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .bg-narika-laptop:hover {
        transform: scale(1.05); 
    }

    .bg-smartcourse-laptop {
        background-image: url("./images/sc-laptop.png");
        background-size: contain;
        padding-left: 2vh;
        width: 100%;
        min-height: 450px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .smartcourse-persona {
        background-image: url("./images/sc-targetpersona.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: center center;
    }

    .smartcourse-og-hp1{
        background-image: url("./images/sc-og-homepage1.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: right;
    }

    .smartcourse-og-hp2{
        background-image: url("./images/sc-og-homepage2.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: right;
    }

    .smartcourse-hp-sketch{
        background-image: url("./images/sc-hp-sketch.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: right;
    }

    .smartcourse-og-lightbox{
        background-image: url("./images/sc-og-salespopup.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: right;
    }

    .smartcourse-new-lightbox{
        background-image: url("./images/lightbox_updated.png");
        background-size:cover;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: right;
    }

    .bg-narika-mobile {
        background-image: url("./images/narika-mobile.png");
        background-size: contain;
        width: 100%;
        min-height: 350px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .bg-narika-mobile:hover{
        transform: scale(1.05); 
    }

    .bg-spellit-mobile{
        background-image: url("./images/spellit_mobile.png");
        background-size: contain;
        width: 100%;
        min-height: 350px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .bg-ed-gov { 
        background-image: url("./images/edgov.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .spellit-image{
        background-image: url("./images/spellit_mobile.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top right;
        background-position: center center;
    }

    .edgov-image{
        background-image: url("./images/edgov.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
    }

    .aom-image{
        background-image: url("./images/aomtrading.png");
        background-size: contain;
        width: 100%;
        margin: auto;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
    }

    .img-edgov{
        width: 80%;
        height:auto;
        display: flex;
        justify-content: end;

    }


    .nar-heuristics{
        background-image: url("./images/heuristics.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
    }

    .nar-cardsort{
        background-image: url("./images/card_sorting.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nar-lowfi{
        background-image: url("./images/low-fi-testing.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
    }

    .nar-lowfi1{ 
        background-image: url("./images/low-fi-hp1.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
    }

    .nar-lowfi2{ 
        background-image: url("./images/low-fi-hp2.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
    }

    .future-img{
        background-image: url("./images/spellit_future.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
    }

    .sitemap-img{
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
    }

    .style-guide{
        display: flex;
        justify-content: center;
    }

    .narika-sg{
        background-image: url(./images/narika-styleguide.png);
        width: 60%;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }

    img.img-fluid {
        max-width: 100%;
        width: 950px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vh 0 10vh;
    }

    .narika-features{
        background-image: url(./images/features-narika.png);
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        border: rebeccapurple;  
        border-width: 10px;
    }

    .edgov-current-img{
        background-image: url(./images/edgov_currentsite.png);
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .bubble {
        height: 250px;
        width: 40%;
        min-width: 200px;
        background: yellow;
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        margin-top: 50px;
        font-size: 200px;
        text-align: center;
    }
    
    .pointer {
        height: 40px;
        width: 40px;
        background: yellow;
        margin: 0 auto;
        transform: rotate(45deg);
        border-radius: 0 0 12px 0;
        margin-top: -22px;
        position: relative;
        left: calc(0.5vw - 50px);
    }
    
    .blurred {
        background: gray;
        filter: blur(20px);
        position: relative;
        top: -315px;
    /* 	transform: scale(1.05); */
        z-index: -1;
    }

    .site-footer {
        background-color:#fff;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        background: #cce9e830;
      }
    
    
   
      .site-footer p {
        color: #9B8B8A;
      }

      .site-footer a {
        color: #9B8B8A;
      }

      .copyright-text {
        font-size: 12px;
      }

      .sitemap-edgov{
        background-image: url("./images/sitemap_edgov.png");
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
      }

      /*Image gallery*/
      .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      /* Create four equal columns that sits next to each other */
      .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }

      .flexContainer{
        display:flex;
        flex-direction: row; 
    }

      /* Art Pics tablet */
      @media screen and (max-width: 800px) {
        .column {
          -ms-flex: 50%;
          flex: 50%;
          max-width: 50%;
        }
      }
      
      /* Art Pictures */
      @media screen and (max-width: 600px) {
        .column {
          -ms-flex: 100%;
          flex: 100%;
          max-width: 100%;
        }
      }  

    /* MOBILE MEDIA QUERY */
    @media only screen and (max-width:599px){ 
        .swirl { 
            top: 720px;
        }

        .nav {
            padding: 0px 50px;
        }

        .navbar-collapse {
            justify-content: flex-end !important;
        }

        .main-content{
            margin: 100px;           
        }
        
        .gallery{
            margin: 0;
            flex-direction: column;
        }

        .wrapper {
            flex-direction: column;
            padding-bottom: 0px;
        }

        .content-left {
            margin-top: 30px;
            padding: 0 30px;
            width: 100%;
        }

        .content-right{
            width: 100%;
            padding: 0 30px;
        }

        p{
            font-weight: 300px;
        }

        h1{
            font-size: 4.8rem;
            line-height: 5.5rem;
        }   
        

        .hp-projects {
            padding: 100px 0 30px 0;
        }

        .gallery-item {
            height: 450px;
        }

        .work-img {
           max-width: 250px;  
        }

        .site-footer {
            margin-top: 50px;
            padding-bottom:0;
            text-align: center;
        }

        .intro {
            padding: 20px;
        }

        .gallery-item-1, .gallery-item-3 {
            margin-right: 0;
        } 

        .stake-col{
            margin: 20px;
        }

        .flexContainer{
            display:flex;
            flex-direction: column; 
        }

        .img-edgov{
            max-width: 100%;
            height:auto;
            display: flex;
            justify-content: center;
        }
    
    }

    /* TABLET MEDIA QUERY  */ 
    @media only screen and (max-width: 900px) {
        h1 {
            font-size: 4.75rem;
            line-height: 8rem;
        }

        .navbar-collapse {
            justify-content: flex-end;
            
        }
        .main-content{
            margin: 50px;           
        }

        .wrapper {
            flex-direction: row;
            padding-bottom: 20px;
        }

        .gallery-item {
            height: 200px;
        }

        .hp-projects {
            padding: 20px;
        }

        .stake-col{
            margin: 20px;
        }

        .gallery {
            flex-direction: row;
        }

        .content-left{
            margin-top: 70px;
            width: 50%;
            padding:0 0 0 200px;
        }
        
        .content-right{
            width: 50%;
            padding: 20px 200px 0px 100px;
        }

        .work-img {
            max-width: 450px;  
        }

        .site-footer {
            margin-top: 50px;
            padding-bottom:0;
            text-align: center;
        }

        .gallery-item-1, .gallery-item-3 {
            margin-right: 1rem;
        }

        .swirl { 
            top: 590px;
        }
        
        .flexContainer{
            flex-direction:column;
        }
    }

